h2{ font-size: 60px;
    text-align: center;}
  
  #myh /* this is for id*/
  {
      background-color: blue;
  }
  
  .urh /* thiss for class */
  {
      color: red;
  }
  
  h2.urh
  {
      color:blueviolet;
  }
  
  *  /* this for select all  */
  {
      text-align: center;
  }
  
  p,div  /* this is for group selector */
  {
  font-size: 50px;
  }

  section
  {
      font-size: 40px;
      background-image: url(img/cat.jpg);
      background-repeat: no-repeat;
      background-attachment: local; 
      background-position: center;

      border-style: dashed;
      border-width: 5px;
      border-color:wheat;
  }
  #mydis
  {
      font-size: 20px;
     /*display: inline; */
    /* display: run-in; */
    display: inline-block;
  }
  #myfloat
  {
    /*   float: left;  */
    color: aquamarine;
    background-color: cornsilk;
  }

body
{
   /* font-family: Consolas; */
    font-family: monospace;
    font-style: italic;
    font-variant: initial;
    font-weight: bold;
    line-height: 50px;

     /* space with selector and browser page */ 
    margin: 20px; 
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    /* margin 20=top , 30=botton  , 40=right  ,50=left */
 /*   margin: 20px 30px 40 px 50px; */
 
}

#myOpic
{
    opacity: 0.5;
}