h2{ font-size: 60px;
    text-align: center;}
  
  #myh /* this is for id*/
  {
      background-color: blue;
  }
  
  .urh /* thiss for class */
  {
      color: red;
  }
  
  h2.urh
  {
      color:blueviolet;
  }
  
  *  /* this for select all  */
  {
      text-align: center;
  }
  
  p,div  /* this is for group selector */
  {
  font-size: 50px;
  }

  section
  {
      font-size: 40px;
      background-image: url(img/cat.jpg);
      background-repeat: no-repeat;
      background-attachment: local; 
      background-position: center;

      border-style: dashed;
      border-width: 5px;
      border-color:wheat;
  }
  #mydis
  {
      font-size: 20px;
     /*display: inline; */
    /* display: run-in; */
    display: inline-block;
  }